*{
    box-sizing: border-box;
  }

  .conshead{
    text-align: center;
    padding: 20px;
    font-size: 2.5rem;
    font-weight: bolder;
  }
  .cons{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width:100%; 
    gap: 40px;
    padding: 10px 10px;
   
   
  }
  .consimg1 img{
    width: 100%;
    height: auto;
    
  }
  .consimg2 img{
    width: 100%;
    height:auto;
  }
  .consimg1,.consimg2{

    border-radius: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    
    

  }
  .cons-btn{
   
    width: 100%;
    text-align: center;
    background-color: rgb(239, 231, 231);
    font-size: 1rem;
    color: black;
    text-decoration: none;
    border-radius: 20px;
  }


  @media only screen and (max-width: 768px){


    .cons{
      display: flex;
      flex-direction: column;
      justify-content:center;
       object-fit: contain;
       gap: 40px;
       padding: 20px 20px;
    
  }
  .consimg1 img{
    width: 100%;
    height: auto;
  }
  .consimg2 img{
    width: 100%;
    height: auto;
  }
  






  }


