*{
    box-sizing: border-box;
  }

  .cover{
    height: 100vh;
    margin-top: -10px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .cover img{
    width: 100%;
    
    object-fit: cover;
    max-height: 20px;
  }
  .heading{
    text-align: center;
    align-content: center;
    padding-top: 150px;
  }
.contenthead{

    color: rgb(0, 0, 0);
    background-Color: rgb(162, 242, 162);
    text-align: center;
    padding: 50px 80px; 
    
}



  .founder1{
    display: flex;
    flex-direction: row;
    height: auto;
  }
  
  .founder3{
    display: flex;
    flex-direction: row;
    height: auto;
  }
  
  .founder2{
    display: flex;
    flex-direction: row-reverse;
    
  }
  
  .section1{
    width: 50%;
    padding: 20px;
    text-align: center;
    align-content: center;
    /* background-color: rgb(255, 255, 255); */
    
  }
  .section1 img{
    
    box-sizing:border-box;
    border-radius: 10px;
    /* box-shadow: 10px; */
    width: 100%;
   
   
    
  
  }
  
  .section2{
    width: 50%;
    padding: 50px;
    align-content: center;
    text-align: center;
    font-size: larger;
    background-color: rgb(255, 255, 255,);
    color: black;
  }
  
  @media only screen and (max-width: 600px) {

    .cover h1{
      font-size: 3rem;
    }
  
  }
  
  @media screen and (max-width: 768px)
  {

    .cover img {
        height:450px;

    }
    .founder1{
      display: flex;
      flex-direction: column;
      
    } 
   
    .founder1,
    .founder2,
    .founder3{
      display: flex;
      flex-direction: column;
      
    }
  
    .section2,
    .section1{
      width: 100%;
    }
    
  }
  
  
  