@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar{
  background-color: rgb(214, 0, 0);/*navbar bg*/
  height:100px;
}
.navbar a{
  font-size:larger;
}
#navbarNav{ /* hamburger inside content*/
  background-color:  rgb(214, 0, 0);
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 20px;
}
#logo {
  color: rgb(0, 0, 0);/* logo*/
}
#navbut{
  color:transparent; /* hamburger*/
  border-color: transparent;
}
#navbarNav a{
  color: rgb(0, 0, 0);  /*nav items */
}
.navbar ul{
  border-color:aqua 
}