@import '~bootstrap/dist/css/bootstrap.min.css';

#contact{
    justify-items: center;
    margin-top: 20px;
   
}

#address{
    justify-content: space-around;
}

@media screen and (max-width: 601px) {
    #address {
        
      justify-self: center;
      display: inline-block;
    }
  }