*{
  box-sizing: border-box;
}
h2{
  color: black;
}
.cover img{
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.heading{
 align-items: center; 
 justify-content: center; 
 width: 100%;
 height: 60%;
 display: flex;
 font-size: 100px;
  position: absolute;
  color: white;
  z-index: 2;
}


.founder1{
  display: flex;
  flex-direction: row;
  height: auto;
}

.founder1 h2{
  margin-bottom: 50px;
}

.founder1 p {
  font-size: 1.5rem;
}


.founder2{
  display: flex;
  flex-direction: row-reverse;
}

.founder2 h2{
  margin-bottom: 50px;
}

.founder2 p {
  font-size: 1.5rem;
}


.founder3{
  display: flex;
  flex-direction: row;
  height: auto;
}

.founder3 h2{
  margin-bottom: 50px;
}

.founder3 p {
  font-size: 1.5rem;
}


.column1{
  width: 40%;
  padding: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  
}
.column1 img{
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 10px;
  width: 60%;

}

.column2{
  width: 60%;
  padding: 20px;
  align-content: center;
  text-align: center;
  font-size: larger;
  background-color: rgb(255, 255, 255,);
  color: black;
}

.column2 p{
  padding: 10px;
}

@media screen and (max-width: 968px)
{
  .heading{
    font-size: small;
  }
  .founder1{
    display: flex;
    flex-direction: column;
  }

  .founder2{
    display: flex;
    flex-direction: column;
  }
  .founder3{
    display: flex;
    flex-direction: column;
    
  }


  .column1{
    width: 100%;
  }
  .column2{
    width: 100%;
  }
}


