*{
  box-sizing: border-box;
}

.founder1{
  display: flex;
  flex-direction: row;
  height: auto;
}

.founder2{
  display: flex;
  flex-direction: row-reverse;
  
}

.column1{
  width: 40%;
  padding: 20px;
  text-align: center;
  background-color: white;
  
}
.column1 img{
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 10px;
  width: 60%;

}

.column2{
  width: 60%;
  padding: 20px;
  align-content: center;
  text-align: center;
  font-size: larger;
  background-color: brown;
  color: black;
}

.column2 p{
  padding: 10px;
}

@media screen and (max-width: 768px)
{
  .founder1{
    display: flex;
    flex-direction: column;
    
  }

  .founder2{
    display: flex;
    flex-direction: column;
  }

  .column1{
    width: 100%;
  }
  .column2{
    width: 100%;
  }
}


